<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <!--arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/ -->
    <!-- UAV0 -->
    <group ns="uav100">
        <!-- MAVROS and vehicle configs -->
		<arg name="fcu_url" default="udp://:14540@127.0.0.1:14557" />
		<arg name="gcs_url" default="" />
		<arg name="tgt_system" default="1" />
		<arg name="tgt_component" default="1" />
		<arg name="log_output" default="screen" />
		<arg name="fcu_protocol" default="v2.0" />
		<arg name="respawn_mavros" default="false" />
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
			<arg name="fcu_url" value="$(arg fcu_url)" />
			<arg name="gcs_url" value="$(arg gcs_url)" />
			<arg name="tgt_system" value="$(arg tgt_system)" />
			<arg name="tgt_component" value="$(arg tgt_component)" />
			<arg name="log_output" value="$(arg log_output)" />
			<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
			<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
			<param name="conn_heartbeat" value="5.0" />
			<param name="conn_timeout" value="5.0"/>
		    </include>
    </group>
	<node pkg="rosservice" type="rosservice" name="set_stream_rate" args="call --wait /uav100/mavros/set_stream_rate 0 30 1" />
</launch>
<!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->
